@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

.container1 {
    width: 100%;
    height: 110vh;
    background: url(asset/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background: transparent;
    background-color: rgba(255, 0, 0, 0);
    /* Warna latar belakang blur */
    backdrop-filter: blur(50px);
    position: fixed;
}

nav .isi {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.isi ul {
    list-style: none;
    display: flex;
}

.isi ul li {
    margin: 0px 30px;
    font-size: 19px;
}

nav .isi ul li a {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

nav .isi ul li a:hover {
    color: #d3d3d3;
    transition: all 0.2s ease-in-out;
}

nav .isi img {
    width: 40px;
}

nav .icon {
    margin-right: 20px;
}

#logo {
    width: 80px;
    margin-left: 20px;
}

.container2 {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8001c;
}

.container2 .isi {
    background-color: white;
    width: 90%;
    height: 800px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;


}

.container2 .search {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .search input {
    height: 40px;
    width: 310px;
    border-radius: 12px;
    border: none;
    border: 1px solid;
    padding-left: 10px;
    font-size: 21px;
}

.container2 .search img {
    width: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    margin-left: 30px;
}

/* Produkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.produk {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.produk ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;

}

.produk li {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.produk li h1 {
    font-size: 19px;
    margin-top: 8px;
}

.produk li p {
    font-size: 14px;
    color: #c8001c;
    font-weight: 800;
    margin-top: 8px;
}

.container2 .produk img {
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
}












/* section contact */

.contact img {
    width: 200px;
}

/* left */

.left {
    width: 50%;
}

.left h1 {
    font-size: 40px;
    color: #c8001c;
}

.left h1 span {
    color: #000000;
}

.left img {
    margin: 50px;
    border-radius: 100%;
    width: 300px;
}

.contact {
    padding: 70px;
}

.contactgap {
    display: flex;
    align-items: center;
    justify-content: center;
}


.right {
    display: block;
    width: 50%;
}

.right img {
    display: block;
    margin: 0 auto;
}

.right li {
    margin-bottom: 50px;
}

.right li input {
    font-size: 15px;
    padding: 20px 10px;
    width: 70%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px #00000054;
}

.right li button {
    font-size: 15px;
    padding: 20px 10px;
    width: 74%;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: #c8001c;
    border-radius: 10px;
    color: white;

}


/* footer  */

.footer {
    background-color: #c8001c;
}

.footer img {
    width: 200px;
}

.footergap a {
    padding: 20px;
    background-color: white;
    color: #c8001c;
    font-weight: 550;
}

.footergap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.item h1 {
    font-size: 50px;
    color: white;
}

.item h3 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.item {
    display: block;
}

.item li {
    padding-top: 20px;
}

.item li a {
    color: white;
    font-weight: 400;
    background: none;
}




/* ANIMASI LOADINGGGGG */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 450px;
    left: -120px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.848); /* Tambahkan warna latar belakang semi-transparan */
    z-index: 1;
}

.container {
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    font-size: 20px;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }

    25% {
        content: "Loading.";
    }

    50% {
        content: "Loading..";
    }

    75% {
        content: "Loading...";
    }
}